body {
    font-size: large;
    color: rgb(68, 83, 83);
}

a {
    color: white;
    text-decoration: none;
}

#logo {
    width: 100px;
}

h1 {
    color: rgb(0, 102, 102);
    font-style: arial;
}

h4 {
    margin: 0;
}

#para {
    font-size: larger;
}

.accordionheading {
    font-size: larger;
    font-weight: bold;
    color: rgb(0, 102, 102);
}

#section1 {
    margin: auto;
    width: 60%;
    padding: 10px;
}

input[type="radio"]:checked+label {
    color: rgb(0, 102, 102);
}

input[type="checkbox"]:checked+label {
    color: rgb(0, 102, 102);
}

#selects {
    width: 90%;
    height: 35px;
    border-radius: 7px;
    border-color: rgb(150, 161, 161);
}

#submit {
    padding: 14px 40px;
    border: 0;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    background-color: rgb(0, 102, 102);
    display: block;
    margin: 0 auto;
}

.accordion-body {
    padding: 20px;
}

.accordian-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    text-align: center;
}

.col-lg-4 {
    margin: 3rem 0;
}

.accordion-item-footer1 {
    background-color: rgb(40, 82, 145);
    border-radius: 0 0 20px 20px;
    padding: 0.5rem 2rem;
}

.accordion-item-footer2 {
    background-color: rgb(0, 102, 102);
    border-radius: 0 0 20px 20px;
    padding: 0.5rem 2rem;
}

.accordion-item-footer3 {
    background-color: rgb(145, 111, 95);
    border-radius: 0 0 20px 20px;
    padding: 0.5rem 2rem;
}

#column1 {
    border-style: solid;
    border-width: 2px;
    border-radius: 20px 20px 0 0;
    border-color: rgb(40, 82, 145);
    padding: 2rem;
    height: 90%;
    margin-top: 30px;
}

#column2 {
    border-style: solid;
    border-width: 2px;
    border-radius: 20px 20px 0 0;
    border-color: rgb(0, 102, 102);
    padding: 2rem;
    height: 90%;
    margin-top: 30px;
}

#column3 {
    border-style: solid;
    border-width: 2px;
    border-radius: 20px 20px 0 0;
    border-color: rgb(145, 111, 95);
    padding: 2rem;
    height: 90%;
    margin-top: 30px;
}

.originalprice {
    text-decoration: line-through;
}

.discountedprice1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(40, 82, 145);
}

.discountedprice2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 102, 102);
}

.discountedprice3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(145, 111, 95);
}

.pricingdisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section3 {
    background-color: rgb(220, 240, 252);
}

.carousel-item {
    background: white;
    color: rgb(68, 83, 83);
    position: relative;
}

.containercarousel {
    padding: 170px 90px;
}

footer {
    padding: 50px;
    background-color: rgb(40, 82, 145);
}